<div>
    <h2 id="page-heading">
        <span jhiTranslate="ccwApp.visitedBy.home.title">Visited Bies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-visited-by" [routerLink]="['/visited-by/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ccwApp.visitedBy.home.createLabel">
            Create a new Visited By
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="visitedBies?.length === 0">
        <span jhiTranslate="ccwApp.visitedBy.home.notFound">No visitedBies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="visitedBies && visitedBies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitid"><span jhiTranslate="ccwApp.visitedBy.unitid">Unitid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstname"><span jhiTranslate="ccwApp.visitedBy.firstname">Firstname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastname"><span jhiTranslate="ccwApp.visitedBy.lastname">Lastname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="ccwApp.visitedBy.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeeid"><span jhiTranslate="ccwApp.visitedBy.employeeid">Employeeid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="role"><span jhiTranslate="ccwApp.visitedBy.role">Role</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span jhiTranslate="ccwApp.visitedBy.designation">Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vistdate"><span jhiTranslate="ccwApp.visitedBy.vistdate">Vistdate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="proosalsId"><span jhiTranslate="ccwApp.visitedBy.proosals">Proosals</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visitedBy of visitedBies ;trackBy: trackId">
                    <td><a [routerLink]="['/visited-by', visitedBy.id, 'view']">{{ visitedBy.id }}</a></td>
                    <td>{{ visitedBy.unitid }}</td>
                    <td>{{ visitedBy.firstname }}</td>
                    <td>{{ visitedBy.lastname }}</td>
                    <td>{{ visitedBy.status }}</td>
                    <td>{{ visitedBy.employeeid }}</td>
                    <td>{{ visitedBy.role }}</td>
                    <td>{{ visitedBy.designation }}</td>
                    <td>{{ visitedBy.vistdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="visitedBy.proosalsId">
                            <a [routerLink]="['/proosals', visitedBy.proosalsId , 'view']" >{{ visitedBy.proosalsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/visited-by', visitedBy.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/visited-by', visitedBy.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(visitedBy)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="visitedBies && visitedBies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
