<div>
    <h2 id="page-heading">
        <span jhiTranslate="ccwApp.proosals.home.title">Proosals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proosals" [routerLink]="['/proosals/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ccwApp.proosals.home.createLabel">
            Create a new Proosals
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="proosals?.length === 0">
        <span jhiTranslate="ccwApp.proosals.home.notFound">No proosals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="proosals && proosals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitid"><span jhiTranslate="ccwApp.proosals.unitid">Unitid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="businessproposal"><span jhiTranslate="ccwApp.proosals.businessproposal">Businessproposal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subproposal"><span jhiTranslate="ccwApp.proosals.subproposal">Subproposal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="relationid"><span jhiTranslate="ccwApp.proosals.relationid">Relationid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobilenumber"><span jhiTranslate="ccwApp.proosals.mobilenumber">Mobilenumber</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountnumber"><span jhiTranslate="ccwApp.proosals.accountnumber">Accountnumber</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accounttitle"><span jhiTranslate="ccwApp.proosals.accounttitle">Accounttitle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numerofvisits"><span jhiTranslate="ccwApp.proosals.numerofvisits">Numerofvisits</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="outstandingamount"><span jhiTranslate="ccwApp.proosals.outstandingamount">Outstandingamount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="outstandingprofit"><span jhiTranslate="ccwApp.proosals.outstandingprofit">Outstandingprofit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="oddays"><span jhiTranslate="ccwApp.proosals.oddays">Oddays</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="loanofficer"><span jhiTranslate="ccwApp.proosals.loanofficer">Loanofficer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="promisetopay"><span jhiTranslate="ccwApp.proosals.promisetopay">Promisetopay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span jhiTranslate="ccwApp.proosals.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="delequencyreason"><span jhiTranslate="ccwApp.proosals.delequencyreason">Delequencyreason</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="visitsId"><span jhiTranslate="ccwApp.proosals.visits">Visits</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliquencyId"><span jhiTranslate="ccwApp.proosals.deliquency">Deliquency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proosals of proosals ;trackBy: trackId">
                    <td><a [routerLink]="['/proosals', proosals.id, 'view']">{{ proosals.id }}</a></td>
                    <td>{{ proosals.unitid }}</td>
                    <td>{{ proosals.businessproposal }}</td>
                    <td>{{ proosals.subproposal }}</td>
                    <td>{{ proosals.relationid }}</td>
                    <td>{{ proosals.mobilenumber }}</td>
                    <td>{{ proosals.accountnumber }}</td>
                    <td>{{ proosals.accounttitle }}</td>
                    <td>{{ proosals.numerofvisits }}</td>
                    <td>{{ proosals.outstandingamount }}</td>
                    <td>{{ proosals.outstandingprofit }}</td>
                    <td>{{ proosals.oddays }}</td>
                    <td>{{ proosals.loanofficer }}</td>
                    <td>{{ proosals.promisetopay | date:'mediumDate' }}</td>
                    <td>{{ proosals.remarks }}</td>
                    <td>{{ proosals.delequencyreason }}</td>
                    <td>
                        <div *ngIf="proosals.visitsId">
                            <a [routerLink]="['/visits', proosals.visitsId , 'view']" >{{ proosals.visitsId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="proosals.deliquencyId">
                            <a [routerLink]="['/deliquency', proosals.deliquencyId , 'view']" >{{ proosals.deliquencyId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/proosals', proosals.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/proosals', proosals.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(proosals)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="proosals && proosals.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
