<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliquency">
            <h2><span jhiTranslate="ccwApp.deliquency.detail.title">Deliquency</span> {{ deliquency.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ccwApp.deliquency.observatoinid">Observatoinid</span></dt>
                <dd>
                    <span>{{ deliquency.observatoinid }}</span>
                </dd>
                <dt><span jhiTranslate="ccwApp.deliquency.observation">Observation</span></dt>
                <dd>
                    <span>{{ deliquency.observation }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/deliquency', deliquency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
